<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.1" targetFramework="net472" />
  <package id="Dapper.Contrib" version="1.60.1" targetFramework="net472" />
  <package id="dbup" version="4.2.0" targetFramework="net472" />
  <package id="dbup-core" version="4.2.0" targetFramework="net472" />
  <package id="dbup-sqlserver" version="4.2.0" targetFramework="net472" />
  <package id="IDP.DBX" version="1.2.10" targetFramework="net472" />
</packages>